@charset "UTF-8";

body{
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

main .estrofes{
    line-height: 2em;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

main section.imagem{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main section#img01{
    background-image: url(imagens/background001.jpg);
}

main section#img02{
    background-image: url(imagens/background002.jpg);
}

main section.imagem p{
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    width: 300px;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}