@charset "UTF-8";

/* Aparelho em pé*/

body{
    background-image: url(../imagem/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}